<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patra.registry.infra.persistence.mapper.LiteratureProvenanceMapper">

    <select id="selectProvSummaryAll" resultType="com.patra.registry.infra.persistence.entity.ProvenanceDO">
        select rlp.`id`,
               rlp.`name`,
               rlp.`code`
        from patra_registry.reg_provenance rlp
        where deleted = 0
        order by updated_at desc
    </select>

    <select id="selectConfigByCode" resultType="com.patra.registry.contract.query.view.LiteratureProvenanceConfigView">
        select rlp.id                           as provenanceId,
               rlp.code                         as provenanceCode,
               rlpc.`timezone`,
               rlpc.`retry_max`                 as retryMax,
               rlpc.`backoff_ms`                as backoffMs,
               rlpc.`rate_limit_per_sec`        as rateLimitPerSec,
               rlpc.`search_page_size`          as searchPageSize,
               rlpc.`fetch_batch_size`          as fetchBatchSize,
               rlpc.`max_search_ids_per_window` as maxSearchIdsPerWindow,
               rlpc.`overlap_days`              as overlapDays,
               rlpc.`retry_jitter`              as retryJitter,
               rlpc.`enable_access`             as enableAccess,
               rlpc.`date_field_default`        as dateFieldDefault,
               rlpc.`base_url`                  as baseUrl,
               rlpc.`headers`
        from patra_registry.reg_provenance rlp
                 join patra_registry.reg_provenance_config rlpc on rlp.id = rlpc.literature_provenance_id
        where rlp.code = #{code}
          and rlp.deleted = 0
          and rlpc.deleted = 0
    </select>
</mapper>
