target/
*.log
*.iml
# 保留必要的 Wrapper 文件
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/maven.config
!.mvn/settings.xml

!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/

*.iws
*.ipr

logs/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 保留 compose 目录
!/docker/compose/

### Mac OS ###
.DS_Store
!/docker/mysql/init
!/docker/nacos/
/docker/nacos/logs/
/docker/redis/data/

/docker






# 保留 .env.dev 文件
!.env.dev
