<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patra.catalog.infra.persistence.mapper.MeshEntryTermMapper">

  <update id="truncateTable">
    TRUNCATE TABLE cat_mesh_entry_term
  </update>

  <!-- 批量插入入口术语（单条 SQL 语句，多行值） -->
  <insert id="insertBatch">
    INSERT INTO cat_mesh_entry_term (
      id, descriptor_id, term_ui, concept_ui, term, lexical_tag, is_print_flag,
      record_preferred, is_permuted_term, is_concept_preferred,
      abbreviation, sort_version, entry_version, term_note, date_created, thesaurus_ids,
      version, created_at, updated_at, deleted
    ) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.id},
        #{item.descriptorId},
        #{item.termUi},
        #{item.conceptUi},
        #{item.term},
        #{item.lexicalTag},
        #{item.isPrintFlag},
        #{item.recordPreferred},
        #{item.isPermutedTerm},
        #{item.isConceptPreferred},
        #{item.abbreviation},
        #{item.sortVersion},
        #{item.entryVersion},
        #{item.termNote},
        #{item.dateCreated},
        #{item.thesaurusIds, typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
        0,
        NOW(6),
        NOW(6),
        0
      )
    </foreach>
  </insert>

</mapper>
