<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patra.ingest.infra.persistence.mapper.RunMapper">

    <!-- 运行台账表结果映射 -->
    <resultMap id="BaseResultMap" type="com.patra.ingest.infra.persistence.entity.RunDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_id" property="jobId" jdbcType="BIGINT"/>
        <result column="cursor_key" property="cursorKey" jdbcType="VARCHAR"/>
        <result column="window_from" property="windowFrom" jdbcType="TIMESTAMP"/>
        <result column="window_to" property="windowTo" jdbcType="TIMESTAMP"/>
        <result column="attempt_no" property="attemptNo" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="checkpoint" property="checkpoint" jdbcType="LONGVARCHAR"/>
        <result column="stats" property="stats" jdbcType="LONGVARCHAR"/>
        <result column="error" property="error" jdbcType="LONGVARCHAR"/>
        <result column="started_at" property="startedAt" jdbcType="TIMESTAMP"/>
        <result column="finished_at" property="finishedAt" jdbcType="TIMESTAMP"/>
        <result column="last_heartbeat" property="lastHeartbeat" jdbcType="TIMESTAMP"/>
        <result column="scheduler_run_id" property="schedulerRunId" jdbcType="VARCHAR"/>
        <result column="correlation_id" property="correlationId" jdbcType="VARCHAR"/>
        <result column="record_remarks" property="recordRemarks" jdbcType="LONGVARCHAR"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="ip_address" property="ipAddress" jdbcType="VARBINARY"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="created_by_name" property="createdByName" jdbcType="VARCHAR"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT"/>
        <result column="updated_by_name" property="updatedByName" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
    </resultMap>

</mapper>
